*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	font-family: 'Barlow', sans-serif;
}
.App {
	text-align: center;
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.inputCard {
	width: 170px;
}
